# Base de datos compartida (Neon)
DATABASE_URL=postgresql://user:password@host/neondb?sslmode=require

# Schemas por servicio
AUTH_SCHEMA=auth
BID_SCHEMA=bid
DOC_SCHEMA=doc

# JWT
JWT_SECRET=your_secret_key

# URLs entre servicios
AUTH_SVC_URL=http://localhost:3001
BID_SVC_URL=http://localhost:3002
DOC_SVC_URL=http://localhost:3003